.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  background-color: $lightgrey; /* Cambia al color deseado */
  transition: background-color 0.3s ease-in-out;


  &.scrolled {
    background-color: $lightgrey; /* Cambia al color deseado */
  }
  
  
  .right-side {
    display: flex;
    a {
      margin: 15px;
      cursor: pointer;
      color: $lightgrey;
      transition: 0.5s ease-in-out;
      font-size: 11px;

      &:hover {
        color: $darkpaleblue;
      }
    }
  }

  .left-side {
    display: flex;
    a {
      margin: 15px;
      cursor: pointer;
      color: $lightgrey;
      transition: 0.5s ease-in-out;
      font-size: 12px;


      &:hover {
        color: $darkpaleblue;
      }
    }
  }

  .nav-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-bottom: 1px solid transparent;
    transition: 0.5s ease-in-out;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;

    .nav-logo {
      display: flex;
      height: 100%; /* Ajusta la altura a la del contenedor */
      padding: 0px;
      margin-top: 0px;
      align-self: stretch;

      img {
        width: 30px; /* Cambia el tamaño de la imagen según sea necesario */
        height: auto; /* Permite que la altura se ajuste automáticamente */
      }

    }

    .user-icon {
      display: flex;
      align-items: center; /* Para centrar verticalmente */
      justify-content: center; /* Para centrar horizontalmente */

      .icon {
        font-size: 20px;
      }
    }
    a {
        color: $darkgreen;
        text-decoration: none;
        justify-content: center;
        align-items: cen;
        &:hover {
            color: black;
        }
    }

    &:hover {
        border-bottom: 1px solid black;
    }

    .nav-link-active {
        border-bottom: 1px solid transparent;
        color: $darkgreen;
        }
  }
}
